body, 
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hacker-header.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#logo-header {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
   
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    font-size: 100px;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}
  
.hero-text button:hover {
    background-color: #555;
    color: white;
}

.nav-to-right {
    /*border: 3px solid green;*/
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.nav-container {
    /*border: 3px solid pink;*/
    height: 5%;
    display: flex;
    flex-direction: row-reverse;
    
}

.news-to-center {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: lightgray;
}

.news-stories-container {
    /*border: 3px solid black;*/
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20, 1fr;
    row-gap: 50px;
    column-gap: 25px;
    width: 80%;
    height: auto;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text,
a {
    text-align: center;
}

a {
    border: 1px solid gray;
    background-color: #6699cc;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    font-size: 16px;
    padding: 2px;
    margin-bottom: 5px;
}

.top-stories-title {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.date-published {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: gray;
}


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .news-stories-container {
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        width: 100%;
        height: 1fr;
        
    }
    .card {
        border: 3px solid yellow;
        display: flex;
        flex-direction: row;
        width: 1rem;
        
    }

    .card-img-top {
        visibility: visible;
    }

    #logo-header {
        background-color: white;
        width: 100px;
        height: 100px;
        margin: 10px;
       
    }

    #header-title {
        font-size: 50px;
    }

    .nav-container {
        /*border: 3px solid pink;*/
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        
    }

    #home-button,
    #new-button {
        visibility: hidden;
    }
}

